body {
  margin: 0;
  background-color: dimgray;
  padding-bottom: 3rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
}
.header {
  border-bottom: 2px solid black;
  text-align: center;
  margin-bottom: 10px;
}

.container {
  display: flex;
}

.online p {
  color: whitesmoke;
  align-self: flex-start;
  margin-left: 50px;
  background-color: black;
  height: 25px;
  width: 200px;
  border-radius: 3rem;
}

.online {
  top: 200px;
  position: absolute;
  width: 40%;
  right: 0;
  display: flex;
  flex-direction: column;
  background-color: #333;
  align-items: center;
  text-align: center;
  justify-content: center;
  border-radius: 20px;
}

.online li {
  text-decoration: none;
  background-color: aquamarine;
  list-style-type: none;
  margin-bottom: 5px;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.message-area {
  width: 60%;
  border-right: 2px solid black;
  background-color: rgb(128, 128, 128);
}

.messages {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li {
  padding: 0.5rem 1rem;
  margin-bottom: 10px;
  width: max-content;
  border: 1px solid black;
  border-radius: 20px;
}

.incoming-message {
  align-self: flex-start;
  background-color: rgb(200, 149, 248);
}

.own-message {
  align-self: flex-end;
  background-color: rgb(146, 130, 238);
}

.name {
  text-decoration: underline;
  font-size: smaller;
  color: rgb(255, 255, 255);
}

.msg {
  display: flex;
  flex-direction: column-reverse;
}

.conn-info {
  background-color: rgba(27, 221, 156, 0.829);
  align-self: center;
  text-align: center;
}
.nicks {
  background-color: rgb(240, 142, 86);
  align-self: center;
  text-align: center;
}

.user-control {
  border-right: 2px solid black;
  background: rgba(0, 0, 0, 0.15);
  padding: 0.25rem;
  width: 40%;
  right: 0;
  display: flex;
  position: absolute;
  height: max-content;
  box-sizing: border-box;
}

.user-control input {
  border: none;
  padding: 0 1rem;
  flex-grow: 1;
  border-radius: 2rem;
  margin: 0.25rem;
  height: 30px;
}

.user-control input:focus {
  outline: none;
}

.user-control form {
  display: inline-flex;
}

.user-control button {
  background: #333;
  border: none;
  padding: 0 1rem;
  margin: 0.25rem;
  border-radius: 3px;
  outline: none;
  color: #fff;
}

.gray {
  background-color: #333;
}

.owo {
  display: flex;
  flex-direction: row;
}

#form {
  border-right: 2px solid black;
  background: rgba(0, 0, 0, 0.15);
  padding: 0.25rem;
  position: fixed;
  width: 60%;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  height: 3rem;
  box-sizing: border-box;
  backdrop-filter: blur(10px);
}

.hide {
  display: none;
}

.typing {
  position: fixed;
  right: 0;
  color: white;
  top: 130px;
  box-sizing: border-box;
  border: 2px solid black;
  width: 40%;
  height: 30px;
  text-align: center;
  border-radius: 50px;
  background: rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(10px);
}

.input {
  border: none;
  padding: 0 1rem;
  flex-grow: 1;
  border-radius: 2rem;
  margin: 0.25rem;
}
.input:focus {
  outline: none;
}
#form > button {
  background: #333;
  border: none;
  padding: 0 1rem;
  margin: 0.25rem;
  border-radius: 3px;
  outline: none;
  color: #fff;
}
